<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba);">
  <div class="container">
    <h1 class="pb-5">Save any kind of movies</h1>
  </div>
</div>

<div class="container mb-5">

  <div class="d-flex justify-content-center align-items-center p-3">
    <%= link_to "Create a movie list", new_list_path(@movies), class:"btn btn-primary" %>
   </div>

  <div class="container row justify-content-around gap-2">
    <% @lists.each do |list| %>
      <div class="card col-3">
        <% if list.photo.key? %>
          <%= cl_image_tag list.photo.key, crop: :fill %>
        <% else %>
          <%= image_tag "default-list-image.png", alt: "Le Wagon" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <p><%= link_to "More info", list_path(list), class:"btn btn-primary" %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
